@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    background-color: #4F772D;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Onest', sans-serif;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}